/* mixins, variables, etc. */
/* universal */
/* typography */
body {
  font-family: 'minion pro'; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

/* header */
header nav ul.nav {
  margin: 0;
  /* overwrite Bootstrap default */ }

/* content */
/* footer */
footer small {
  text-align: center; }

/* misc */
